<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="user" class="org.dgqbcht.springstudy.dynamicproxy.User">
        <property name="id" value="1"/>
        <property name="username" value="zhangsan"/>
        <property name="password" value="123456"/>
    </bean>
    <bean id="userService" class="org.dgqbcht.springstudy.dynamicproxy.UserServiceImpl"/>
    <bean id="beforeProxy" class="org.dgqbcht.springstudy.dynamicproxy.DynamicBeforeProxy" />
    <!--
        切入点函数:
            execution() 功能最全的匹配 写法较复杂
            修饰符 返回值 全限定名.方法(参数类型列表)
            *表示通配所有
            .表示一级子包
            ..表示多级子包

            args() 匹配方法的参数
            within() 匹配类、包
            @annotation() 匹配有特殊注解的方法
            不同种切入点函数，可使用and进行逻辑与操作。
            同种或不同种切入点函数，可使用or进行逻辑或操作。
    -->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* org..UserServiceImpl.*(..))"/>
        <aop:advisor advice-ref="beforeProxy" pointcut-ref="pointcut"/>
    </aop:config>

</beans>