<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateConverter" class="org.dgqbcht.springstudy.converter.DateConverter">
        <property name="pattern" value="yyyy-MM-dd"/>
    </bean>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConverter"/>
            </set>
        </property>
    </bean>
    <bean id="person5" class="org.dgqbcht.springstudy.converter.Person5">
        <property name="name" value="xiaoming"/>
        <property name="birthday" value="2020-01-01"/>
    </bean>

</beans>