<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--For TestPerson1-->
    <bean id="person1" name="p1,pp1" class="org.dgqbcht.springstudy.bean.Person1" />
    <bean name="p2,pp2" class="org.dgqbcht.springstudy.bean.Person1" />
    <!--For TestPerson2-->
    <bean id="person2" class="org.dgqbcht.springstudy.bean.Person2">
        <property name="myByte">
            <value>1</value>
        </property>
        <property name="myShort">
            <value>2</value>
        </property>
        <property name="myInt">
            <value>3</value>
        </property>
        <property name="myLong">
            <value>4</value>
        </property>
        <property name="myFloat">
            <value>5.0</value>
        </property>
        <property name="myDouble">
            <value>6.0</value>
        </property>
        <property name="myChar">
            <value>C</value>
        </property>
        <property name="myBoolean">
            <value>false</value>
        </property>
        <property name="myString">
            <value>haha</value>
        </property>
    </bean>
    <bean id="person2_new" class="org.dgqbcht.springstudy.bean.Person2"
          p:myByte="7" p:myShort="8" p:myInt="9" p:myLong="10"
          p:myFloat="11.0" p:myDouble="12.0" p:myChar="e" p:myBoolean="true" p:myString="hehe" />
    <!--For TestPerson3-->
    <bean id="person3" class="org.dgqbcht.springstudy.bean.Person3">
        <property name="strings">
            <list>
                <value>First string</value>
                <value>Second string</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>element 2</value>
                <value>element 1</value>
                <value>element 2</value>
            </set>
        </property>
        <property name="list">
            <list>
                <value>element 2</value>
                <value>element 1</value>
                <value>element 2</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry>
                    <key><value>key 1</value></key>
                    <value>value 1</value>
                </entry>
                <entry>
                    <key><value>key 2</value></key>
                    <value>value 2</value>
                </entry>
            </map>
        </property>
        <property name="props">
            <props>
                <prop key="Key 1">Value 1</prop>
                <prop key="Key 1">Value 2</prop>
            </props>
        </property>
        <property name="person2">
            <ref bean="person2_new" />
        </property>
    </bean>
    <bean id="person3_new" class="org.dgqbcht.springstudy.bean.Person3" p:person2-ref="person2" />
    <!--For TestPerson4-->
    <bean id="person4" class="org.dgqbcht.springstudy.bean.Person4">
        <constructor-arg>
            <value>zhangsan</value>
        </constructor-arg>
        <constructor-arg>
            <value>10</value>
        </constructor-arg>
    </bean>
    <bean id="person4_s" class="org.dgqbcht.springstudy.bean.Person4">
        <constructor-arg type="java.lang.String">
            <value>zhangsan</value>
        </constructor-arg>
    </bean>
    <bean id="person4_i" class="org.dgqbcht.springstudy.bean.Person4">
        <constructor-arg type="long">
            <value>10</value>
        </constructor-arg>
    </bean>

</beans>